.App {
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.light-theme{
  --primary-color: #282c34;
  --secondary-color: #edf2fe;

}
.dark-theme{
  --primary-color: #edf2fe;
  --secondary-color: #282c34;
}

#app-bg{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
a.btn{
  color: var(--secondary-color);
  background-color: var(--primary-color);

}
a.navbar-brand{
  color: var(--primary-color);

}
a.nav-link{
  color: var(--primary-color);
}
a.card-title{
  color: var(--primary-color);
}
a.card-text{
  color: var(--primary-color);
}
#news-bg{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
#navi{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
#card{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
#icon{
  width: 30px;
  cursor: pointer;
}

@media (prefers-color-scheme: dark) {
  .theme-a.adaptive {
    background: #753;
    color: #dcb;
    outline: 5px dashed #000;
  }
}

.App-header {
  background-color: var(--secondary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: var(--primary-color);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
